* {
  box-sizing: border-box;
  color: dodgerblue;
}

.PotentialJobCard{
  box-sizing: border-box;
  box-shadow: 0 2px 3px #ccc;
  margin: 10px;
  padding: 10px;
  width: 80%;
  display: flex;
}

.PotentialJobCard p{
  margin: 15px;
}

.EndpointPageTop{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.EndpointPageFireBtn{
  color: tomato;
  width: 20%;
  height: 50%;
}

.EndpointPagePotentialListings{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.EndpointPageFooter{
  padding: 5px;
  margin: 10px;
  display: flex;
  justify-content: flex-end;
}

.EndpointPageSubmitBtn {
  width: 40%;
  color: tomato;
}